<div class="blog" id="blog">
    <div class="container">
        <h3 class="tittle">Son Duyurular</h3>
        <p class="heading-btm-w3ls">Çiftliklerimiz Ve Tarlalarımızdan Son Haberler Aşağıdadır.</p>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-7 blog-img1-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal2"></a>
            </div>
            <div class=" col-md-5 blog-info-w3layouts">
                <h6> <a href="#" data-toggle="modal" data-target="#myModal2">TARIMIN BÜYÜMESİNDE YENİLİKÇİ TEKNOLOJİLER</a></h6>
                <div class="inner-info">
                    <a href="#" class="blog-text-w3ls bar">Tarım Teknoloji</a><span>16/01/2023</span>
                    <p class="para-w3-agileits">Tarımın modernize edilmesi ve verimliliğinin arttırılması konusu, tüm ülkelerin üzerinde dikkatle durduğu konulardan biridir.</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal2">Daha Fazla Oku</a>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-5 blog-info-w3layouts blog-mid">
                <h6><a href="#" data-toggle="modal" data-target="#myModal3">TARIM SEKTÖRÜNDE DEVAMLI GELİŞMEYE DEVAM EDEN SİSTEM</a></h6>
                <div class="inner-info-mid">
                    <a href="#" class="blog-text-w3ls mid-bar">Tarım Gelişim</a><span>12/01/2023</span>
                    <p class="para-w3-agileits">Dijitalleşen tarım, verimsiz olan yöntemlerin elenmesine, israfın azaltılmasına ve verimliliğin arttırılmasına yardımcı olur.</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">Daha Fazla Oku</a>

            </div>
            <div class=" col-md-7 blog-img2-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal3"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-7 blog-img3-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal4"></a>
            </div>
            <div class=" col-md-5 blog-info-w3layouts">
                <h6>
                    <a href="#" data-toggle="modal" data-target="#myModal4">
                        TARIM ŞİRKETLERİ PAZARINDA İLK ADIMLARIMIZ
                    </a>
                </h6>
                <div class="inner-info">
                    <a href="#" class="blog-text-w3ls bar">Tarım Ve Biz</a><span>06/02/2023</span>
                    <p class="para-w3-agileits">Tarım kendi dünyası içinde her an milyonlarca veri oluşturabilen bir üretim şeklidir.</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Daha Fazla Oku</a>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In Harvest</h4>
                <img src="~/web/images/b1.jpg" alt=" " class="img-responsive">
                <h5>TARIMIN BÜYÜMESİNDE YENİLİKÇİ TEKNOLOJİLER</h5>
                <p>Tarımın modernize edilmesi ve verimliliğinin arttırılması konusu, tüm ülkelerin üzerinde dikkatle durduğu konulardan biridir. Bu hedefleri gerçekleştirirken, verimliliğinin ve çevrenin sürdürülebilirliği sağlanmaya çalışılmaktadır. Yani hem verimliliğin arttırılması hem de ekolojik zararların önüne geçilmesi hedeflenmektedir. Böylece tarımın sürdürülebilirliği sağlanmaktadır. </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In Harvest</h4>
                <img src="~/web/images/b2.jpg" alt=" " class="img-responsive">
                <h5>TARIM SEKTÖRÜNDE DEVAMLI GELİŞMEYE DEVAM EDEN SİSTEM</h5>
                <p>Burada teknolojinin kullanılması önem arz etmektedir. Tarımda daha fazla sürdürülebilirlik, daha fazla verimlilik ve üretkenlik ile paralel olarak gerçekleşir. Bu anlamda, hassas tarımsal teknoloji (Ag-Tech), otomasyon kullanımı, insansız hava araçları veya gerçek zamanlı sensör verileri aracılığıyla tarımsal teknoloji inovasyonun temel itici güçlerinden biri haline gelecektir</p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal3 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In Harvest</h4>
                <img src="~/web/images/b3.jpg" alt=" " class="img-responsive">
                <h5>TARIM ŞİRKETLERİ PAZARINDA İLK ADIMLARIMIZ</h5>
                <p>Bir endüstri olarak tarım, halihazırda büyüyen bir beceri açığı şeklinde önemli zorluklarla karşı karşıyadır. Yapay zeka ve otomasyon kullanımı, bu açığı kapatma potansiyeline sahiptir ve çiftçilerin daha önemli görevlere ve arazi yönetimine odaklanmasına olanak tanır.Tarım kendi dünyası içinde her an milyonlarca veri oluşturabilen bir üretim şeklidir. Bu verilerin en önemli özelliği anlık olup bulunduğu alana, bölüme ve sisteme özeldir.</p>
            </div>
        </div>
    </div>
</div>