@model MvcOnlineCommercialAutomation.Models.Entities.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Kategori Sayfası</h2>
<br />
<form method="post">
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x=> x.CategoryName, new  { @class = "form-control" })
    <br />
    <button class="btn btn-outline-info">Kaydet</button>
</form>