@model Employee
@{
    ViewData["Title"] = "UpdateEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="EmployeeID" />
    <label>Personel Görsel</label>
    <input type="text" class="form-control" asp-for="EmployeeImage" />
    <br />
    <label>Personel Adı</label>
    <input type="text" class="form-control" asp-for="EmployeeName" />
    <br />
    <label>Personel Soyadı</label>
    <input type="text" class="form-control" asp-for="EmployeeSurname" />
    <br />
    <label>Personel Mail</label>
    <input type="text" class="form-control" asp-for="EmployeeMail" />
    <br />
    <button class="btn btn-success">Personel Güncelle</button>
</form>

