@model Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Ürün Adı</label>
    <input type="text" class="form-control" asp-for="ProductName" />
    <br />
    <label>Ürün Fiyatı</label>
    <input type="text" class="form-control" asp-for="Price" />
    <br />
    <label>Ürün Kategorisi</label>
    <input type="text" class="form-control" asp-for="CategoryID" />
    <br />
    <label>Ürün Açıklaması</label>
    <input type="text" class="form-control" asp-for="Description" />
    <br />
    <button class="btn btn-info">Ürünü Ekle</button>
</form>

